@media (min-width: 729px) {
  nav>.fa-bars {
    display: none;
  }
  .mobile-nav{
    display: none;
  }
}

@media only screen and (max-width: 729px) {
  .desktop-nav {
    display: none;
  }

  .contact-container{
  padding-top: 10em;
  }

  .contact {
    margin-top: 10em;
    margin-bottom: 10px;
  }

  .home-header{
    margin-top: 3em;
  }

  .main-p {
    padding: 0 1.5em;
  }

  .weather-info{
    padding: 0 1.5em;
  }

  .add-task-btn {
    padding: 15px 15%;
  }

.about-container{
  padding-top: 11em;
}

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  background-image: url("/assets/luke-chesser-pJadQetzTkI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}

.desktop-nav-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
}

.hidden--mobile{
  display: none;
}

.mobile-nav-container{
  width: 100%;
  position: relative;
  z-index: 99;
}


.mobile-nav li{
  list-style: none;
  text-align: center;
  padding: .75em 0;
  background-color: rgb(60, 104, 132);
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  border: none;
  outline: none;
}

.mobile-nav a{
  text-decoration: none;
  color: white;
}

.mobile-nav a:visited{
  color: white;
}

.logo {
  margin-left: 1em;
  padding: 10px 0;
  font-size: 2em;
  color: white;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navigation a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  left: 0;
  bottom: -6px;
  transform: scalex(0);
  transform-origin: right;
  transition: 0.5s;
}

.navigation a:hover::after {
  transform: scalex(1);
  transform-origin: left;
}

.navigation i{
  font-size: 1.5em;
  color: white;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;

}

.navigation .btnLogin-popup:hover {
  background: white;
  color: black;
}

.navigation a:hover {
  background: transparent;
  color: rgb(186, 186, 186);
}

p,
h1,
h2,
h3 {
  color: white;
  text-align: center;
}

.navigation #logout-button {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation #logout-button:hover {
  background: white;
  color: black;
}

nav ul{
  display: flex;
  list-style: none;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
  position: relative;
  gap: 3em;
}

.button {
  width: 100px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: .8em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.button:hover {
  background: white;
  color: black;
}

.home-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.home-header {
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 1em;
  margin-top: 5em;
  font-weight: 300;
}

.main-p{
  font-size: 25px;
  font-weight: 100;
  max-width: 35em;
}

.weather-info{
  display: flex;
  margin-top: 5em;
  font-size: 25px;
  font-weight: bold;
  max-width: 18em;

}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  padding-top: 10em;
}

.contact {
  margin: 40px 0;
}

.contact-box {
  display: flex;
  background-color: white;
  box-shadow: 0 0 20px 0 rgb(8, 204, 188);
  padding-top: 10px;
  padding-bottom: 10px
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.input-field {
  width: 20em;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 14px;
  outline: 2px solid silver;
  transition: all 0.3s ease-in-out;
}

form input:focus, form textarea:focus{
  outline-style: solid;
  outline-color: rgb(8, 204, 188);
  transition: all 0.3s ease-in-out;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
  resize: none;
}

.btn {
  border-radius: 20px;
  margin-top: 18px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: rgb(8, 204, 188);
  border: 2px solid rgb(8, 204, 188);
  transition: all 0.3s ease-in-out;
}

.btn:hover, .btn:focus{
  border: 2px solid rgb(8, 204, 188);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(8, 204, 188);
  cursor: pointer;
}

.blob {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-app {
  height: 75%;
  width: 80%;
  background: white;
  border-radius: 15px;
}

.task-app h2 {
  color: black;
  display: flex;
  align-items: center;
  margin: 20px;
  padding-left: 45px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(230, 227, 227);
  border-radius: 30px;
  padding-left: 20px;
  margin: 25px;
}

#input-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 15px;
}

#list-box{
  margin-left: 5em;
}


.add-task-btn {
  border: none;
  outline: none;
  padding: 15px 5%;
  background: rgba(5, 190, 222, 0.566);
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.add-task-btn:hover{
  background: rgb(18, 182, 211);
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.about-title{
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 1em;
  font-weight: 300;
}

.about-p{
  font-size: 25px;
  font-weight: 100;
  max-width: 35em;
  padding: 0 2em;
}
